.subtitulo {
    top: 10%;
    font-family: 'Montserrat', sans-serif;
    background-color: #2D3264;
    color: white;   
    font-size: max(2vw, 15px);
    text-align: center;
    margin-top: 1em;
}

.div-descarga {
    background-color:cornflowerblue;

}

.link{
    color:#ffe9dc;
    font-size: 20px;

}

a:hover{
    color: #ffe9dc;
    border-color: #fffdf7;

}

.fondo{
    color: #13315c;

}

.div-fondo{
    text-align: center; 
    background-color: #00b4d8;
    padding: 10px;
    border: 5px;
}