<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"><!-- Aqui se agrega el bootstrap de las tablas-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link rel = "stylesheet" href = "../static copy/css/style2.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Descarga de archivos</title>
</head>
<body style="background-color:#0077b6;">
    <div style="text-align: center; background-color: #00b4d8;">
        <h2 style = "color: black;">Selecciona los archivos que quieras descargar</h2>
        <ul>
            {% for file in files %}
            <li style="color: #0077b6; text-align: left;">
                <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}" class="link">
                    {{ (request.path + '/' if request.path != '/' else '') + file }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div style="text-align: center; background-color: #00b4d8;" class = "div-fondo">
        <h4 class = "fondo">Gracias por usar nuestro filtro de DataFrames, no te olvides de donar :)</h2>
    </div>
</body>
</html>
